/*
	https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html
*/
/*
	Default class selectors:
*/
.default-table-column {
	
}
.default-label {
	-fx-pref-height: 25.0; 
	-fx-min-height: 25.0;
	-fx-max-height: 25.0;
	-fx-fill-height: true ;
	-fx-alignment: center-left;	
}
.default-border {
	-fx-border-style: solid inside; 
	-fx-border-width: 0.25;
	-fx-border-radius: 5.0;
	-fx-border-color: black;
	-fx-padding: 2.0;
}
.header-label{
	
}
.default-button {
	
}
.default-table-view {
	
}
.default-combo-box {
	
}
.default-text-field {
	
}
.default-progress-bar {
	
}
.default-vbox {
	-fx-alignment: top-center ;
}
.default-hbox {
	-fx-alignment: top-center ;	
}
.default-box {
	-fx-alignment: top-center ;
}
.default-radio-button {
	
}
.default-image-view{
	
}
.default-padding{
	/* TOP RIGHT BOTTOM LEFT */
	-fx-padding: 5.0 5.0 5.0 5.0;
}
.directory-button{
	-fx-pref-height: 25.0; 
	-fx-pref-width: 25.0;
	-fx-min-height: 25.0;
	-fx-min-width: 25.0;
	-fx-max-height: 25.0;
	-fx-max-width: 25.0;
	
}
.directory-image-view{
	-fx-image: url('../img/icn-folder-open-20x20.png');
	-fx-pref-height: 20.0; 
	-fx-pref-width: 20.0;
	-fx-min-height: 20.0;
	-fx-min-width: 20.0;
	-fx-max-height: 20.0;
	-fx-max-width: 20.0;
}
.file-image-view{
	
}
.hbox-border{
	-fx-border-style: solid inside; 
	-fx-border-width: 0.5;
	-fx-border-insets: 5.0;
	-fx-border-radius: 5.0;
	-fx-border-color: black ;
}
.vbox-border{
	-fx-border-style: solid inside; 
	-fx-border-width: 0.5;
	-fx-border-insets: 5.0;
	-fx-border-radius: 5.0;
	-fx-border-color: black ;
}
.box-field{
	-fx-background-color: rgb(230.0,230.0,230.0);
}
.box-field-line{
	-fx-pref-height: 60.0; 
	-fx-min-height: 60.0;
	-fx-max-height: 60.0;
}
.box-border{
	-fx-border-style: solid inside; 
	-fx-border-width: 0.5;
	-fx-border-insets: 5.0;
	-fx-border-radius: 5.0;
	-fx-border-color: black ;
	-fx-alignment: top-center ;
}
.box-border-red{
	-fx-border-style: solid inside; 
	-fx-border-width: 0.5;
	-fx-border-insets: 5.0;
	-fx-border-radius: 5.0;
	-fx-border-color: red ;
}
.box-border-green{
	-fx-border-style: solid inside; 
	-fx-border-width: 0.5;
	-fx-border-insets: 5.0;
	-fx-border-radius: 5.0;
	-fx-border-color: green ;
}
.border-header{
	-fx-border-style: dashed ; 
	-fx-border-width: 1.0;
	-fx-border-insets: 1.0;
	-fx-border-radius: 3.0;
	-fx-border-color: black ;
}